#main-menu ul {
    list-style-type: none;
    padding: 1.5em;
    text-align: center;
}

#main-menu ul li {
    display: inline;
    padding: 1em;
    width: 200px;
    background-color: #0c1e8e;
    color: white;
    box-shadow: 2px 2px 5px #e4ef17;
}

#main-menu ul li a {
    color: #e4ef17;
    font-family: system-ui, serif;
    font-weight: bold;
    padding: 2em;
    text-decoration: none;
}

#side-menu {
    margin: 10px;
    margin-left: -180px;
    margin-top: -180px;
    float: left;
    background-color: #0c1e8e;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
}

#side-menu ul {
    list-style-type: none;
}

#side-menu ul li {
    padding: 1em;
    width: 200px;
    margin: 10px;
    margin-left: -30px;
    background-color: lightblue;
    box-shadow: 2px 2px 5px gray;
}

#side-menu ul li a {
    display: block;
    color: black;
    font-weight: bold;
    font-family: system-ui, serif;
    text-decoration: none;
}

#main_heading {
    color: white;
    font-family: system-ui, serif;
    text-align: center;
}

#subtitle {
    color: white;
    font-family: system-ui, serif;
    text-align: center;
    font-size: 12px;
}

html {
    background-color: black;
}

#top {
    background-color: #0c1e8e;
    padding: 20px;
    margin: 10px;
}

main {
    background-color: yellow;
    padding: 200px;
    margin: 10px;
}

footer {
    background-color: #0c1e8e;
    color: white;
    padding: 5px;
    margin: 10px;
    text-align: center;
}