/* body {
    padding: 2em;
    margin: 3em;
} */

div.tab-pane {
    background-color: #eeeeee;
    border: 1px solid gray;
    box-shadow: 2px 2px 5px gray;
    padding: 3em;
}

.nav-tabs .nav-link.active {
    background-color: #eeeeee;
    font-weight: bold;
}