<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="blog.css">
	<title>Template</title>
</head>
<body>
	<header>
		<nav id="main-menu">
			<ul>
				<li><a href="https://dvandiver.com/bacs200/index.html">Home</a></li>
				<li><a href="https://dvandiver.com">Wordpress</a></li>
				<li><a href="https://dvandiver.com/bacs200/projects/index.html">Projects</a></li>
				<li><a href="https://dvandiver.com/bacs200/templates/index.html">Templates</a></li>
			</ul>
		</nav>
		<img src="https://dvandiver.com/bacs200/img/Bear_Logo.png" id="bear_logo" alt="UNCO Logo">
	</header>
	<main>
		<section id="top">
			<h1 id="main_heading">Page Title</h1>
			<p id="subtitle">UNC - BACS 200</p>
		</section>
		<nav id="side-menu">
        	<ul>
	            <li><a href="header.html">Header</a></li>
	            <li><a href="footer.html">Footer</a></li>
	            <li><a href="semantic.html">Semantic</a></li>
	        </ul>
    	</nav>
		<article>
			<h1>Article 1</h1>
		</article>
		<article>
			<h1>Article 2</h1>
		</article>
		<aside>
			Aside
		</aside>
	</main>
	<footer><p id="copyright"> &copy; Copyright 2019 - David Vandiver</p></footer>
</body>
</html>