#main-menu ul {
    list-style-type: none;
    padding: 0em;
    /* text-align: center; */
    background-color: black;
}

#main-menu ul li {
    display: inline;
    padding: 2% 0em;
    /* border: 2px solid yellow; */
    width: 200px;
    background-color: black;
    color: white;
}

#main-menu ul li a {
    color: white;
    font-family: system-ui, serif;
    font-weight: bold;
    padding: 2em;
    text-decoration: none;
}

#side-menu {
    margin: 10px;
    margin-left: -40px;
    margin-top: -40px;
    float: left;
    background-color: #0c1e8e;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
}

#side-menu ul {
    list-style-type: none;
}

#side-menu ul li {
    padding: 1em;
    width: 200px;
    margin: 10px;
    margin-left: -30px;
    background-color: lightblue;
    box-shadow: 2px 2px 5px gray;
}

#side-menu ul li a {
    display: block;
    color: black;
    font-weight: bold;
    font-family: system-ui, serif;
    text-decoration: none;
}

#subtitle {
    font-size: 12px;
    margin-top: -2%;
}

#top {
    background-color: #141414;
    /* padding: 20px; */
    margin: 10px;
}

.img-wrap {
    position: relative;
    display: inline-block;
    margin: 0;
}

#top img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
}

html {
    background-color: black;
}

header {
    color: white;
    font-family: system-ui, serif;
    font-size: 28px;
    text-align: left;
}

main {
    background-color: #141414;
    color: white;
    padding: 25px;
    /* padding: 2%; */
    margin: 10px;
}

footer {
    background-color: #141414;
    color: white;
    padding: 5px;
    margin: 10px;
    text-align: center;
}