<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Header</title>
</head>
<body>
	<header>
		<nav id="main-menu">
			<ul>
				<li><a href="https://dvandiver.com/bacs200/index.html">Home</a></li>
				<li><a href="https://dvandiver.com">Wordpress</a></li>
				<li><a href="https://dvandiver.com/bacs200/projects/index.html">Projects</a></li>
				<li><a href="https://dvandiver.com/bacs200/templates/index.html">Templates</a></li>
			</ul>
		</nav>
		<img src="../img/Bear_Logo.png" id="bear_logo" alt="UNCO Logo">
	</header>
</body>
</html>