<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="menu.css">
	<title>HTML Template</title>
</head>
<body>
	<nav id="main-menu">
		<ul>
			<li><a href="https://dvandiver.com/bacs200/index.html">Home</a></li>
			<li><a href="https://dvandiver.com">Wordpress</a></li>
			<li><a href="https://dvandiver.com/bacs200/projects/index.html">Projects</a></li>
			<li><a href="https://dvandiver.com/bacs200/templates/index.html">Templates</a></li>
		</ul>
	</nav>
</body>
</html>