<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="blog.css">
	<title>Templates</title>
</head>
<body>
	<section id="top">
		<nav id="main-menu">
	        <ul>
	            <li><a href="../index.html">Home</a></li>
	            <li><a href="index.html">Templates</a></li>
	            <li><a href="blog.html">Superset</a></li>
	            <li><a href="https://dvandiver.com">Wordpress</a></li>
	        </ul>
	    </nav>
		<header>
			<img src="../img/Bear_Logo.png" style="float:right" id="bear_logo" alt="UNCO Logo">
		    <h1 id="main_heading">Templates</h1>
		    <p id="subtitle">UNC - BACS 200</p>
		</header>
	</section>
	<main>
		<nav id="side-menu">
        	<ul>
	            <li><a href="header.html">Header</a></li>
	            <li><a href="footer.html">Footer</a></li>
	            <li><a href="semantic.html">Semantic</a></li>
	        </ul>
    	</nav>
    	<h2>Pages</h2>
    	<ul>
    		<li><a href="html.html">HTML</a></li>
    		<li><a href="page.html">Page</a></li>
    		<li><a href="semantic.html">Semantic</a></li>
    		<li><a href="blog.html">Blog</a></li>
    	</ul>
    	<h2>Components</h2>
    	<ul>
    		<li><a href="header.html">Header</a></li>
    		<li><a href="main.html">Main</a></li>
    		<li><a href="footer.html">Footer</a></li>
    		<li><a href="menu-top.html">Top Menu</a></li>
    		<li><a href="menu-side.html">Side Menu</a></li>
    	</ul>
	</main>
	<footer><p id="copyright"> &copy; Copyright 2019 - David Vandiver</p></footer>
</body>
</html>